.carousel {
  margin-bottom: 4rem;
}
.carousel-caption {
  top: 10rem;
  z-index: 10;
}
.carousel .carousel-item {
  height: 600px;
}
.carousel-item img {
  height: 600px;
}
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}
.featurette-heading {
  letter-spacing: -.05rem;
}
/* RESPONSIVE CSS
-------------------------------------------------- */
@media (min-width: 40em) {
  /* Bump up size of carousel content */

  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }

}


@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
